
/* Basic styles  */
section {
    width: 100%;
    height: auto;
    float: left;
    clear: both;
    padding-bottom: 50px;
}
.content-wrapper{
    width: 85%;
    height:auto;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
/* Navbar Styling  */
section.navbar{
    min-height: 100px;
}
section.navbar nav ul li {
    list-style: none;
    display: inline-block;
}

section.navbar nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 5px 10px;
    color: #3C3C3C;
}
section.navbar nav ul li a:hover {
    border-bottom: 2px solid tomato;
}
section.navbar nav ul {
    float: right;
}
/* Styling Hello Section  */

/* Left Side  */
.hello-left-side, .about-left-side {
    width: 45%;
    float: left;
}
.hello-left-side h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #363958;
    margin: 0px;
    }
.highlight {
    color: #FF8367 !important;
}
.hello-left-side p,.about-right-side p {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
    padding-bottom: 20px;
}

button.btn-default {
    border: none;
    background: linear-gradient( #F46060, #FF8063);
    padding: 18px 57px;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
}
button.btn-default:hover {
    background: linear-gradient(45deg, #FF8063, #F46060);
    transform: scale(1.1);
    transition: all 0.5s;
    }
/* Right Side  */
.hello-right-side,.about-right-side {
    width: 45%;
    float: left;
}

.hello-right-side img,.about-left-side img,.work-block img {
    width: 100%;
    height: auto;
}

/* About Section Styling  */
/* right side  */
.about-right-side h2 {
    font-family: 'Bebas Neue',cursive;
    font-size: 48px;
    color: #363958;
}

.about-right-side {
    padding-left: 50px;
}
.about-right-side button.btn-default {
    padding: 18px 25px;
}

.about-right-side button.btn-default i {
    padding-right: 10px;
}

/* Latest Project Section  */
section.latest-project {
    background-color: #F8F9FC;
    padding: 50px 0px;
}
.latest-project h1 {
    font-family: 'Bebas Neue',cursive;
    font-size: 48px;
    color: #363958;
    text-align: center;
}
.work-block {
    width: 28%;
    float: left;
    margin-right: 20px;
    background: #FFFFFF;
    border-radius: 19.74px;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.16);
    padding: 15px;
}
.work-block:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}
.work-block h3 {
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}

.work-block p {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: #6C6C6C;
}
/* Footer Section  */
section.footer {
    padding: 50px 0px;
}

/* Inquiry div  */
.work-inquery{
    background-image: url(../images/inquirybg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 225px;
    border-radius: 30px;
}
.work-inquery h2 {
    font-family: 'Bebas Neue',cursive;
    font-size: 64px;
    color: #ffffff;
    max-width: 50%;
    float: left;
    margin-top: 70px;
    margin-left: 10%;
}
.work-inquery button {
    max-width: 50%;
    float: right;
    display: block;
    margin-top: 80px;
    margin-right: 10%;
}

/* Footer Section Design  */
.contact p {
    font-family: 'Bebas Neue',cursive;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: #696871;
    text-align: center;
}
a.email {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 36px;
    color: #363958;
    width: 100%;
}
.contact ul li:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.contact {
    text-align: center;
    margin-top: 70px;
}
.contact ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.contact ul {
    padding-top: 20px;
}